<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.app3david" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>JQuery Mobile-Fimaz-David</name>
    <description>
        Aplicacion que da a conocer información sobre la Fimaz.
    </description>
    <author email="support@david.com">
       David Cedano
    </author>
    <content src="index.html" />
    <access origin="*" />

    <icon src="img/escuela_ldpi.png" gap:density="ldpi" gap:platform="android" />
	<icon src="img/escuela_mdpi.png" gap:density="mdpi" gap:platform="android" />
	<icon src="img/escuela_hdpi.png" gap:density="hdpi" gap:platform="android" />
	<icon src="img/escuela_xhdpi.png" gap:density="xhdpi" gap:platform="android" />

</widget>
